.btn {
    &-rules {
        border: 2px solid #fff;
        border-radius: 8px;
        background-color: transparent;
        color: #fff;
        font-size: 1rem;
        padding: 10px 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
        cursor: pointer;
        position: fixed;
        right: 50px;
        bottom: 50px;
        transition: all 0.3s ease-in-out;
        &:hover {
            transform: scale(1.2);
        }
    }
    &-circle {
        border-radius: 50%;
        border: none;
        width: 130px;
        height: 130px;
        box-shadow: inset 0 -6px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        .wrapper {
            width: 100px;
            height: 100px;
            background-color: #fff;
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            box-shadow: inset 0 6px rgba(0, 0, 0, 0.1);
        }
        &:focus {
            outline: none;
        }
        &:active {
            transform: scale(0.9);
        }
    }
    &-paper {
        background: linear-gradient(to bottom, $paper-from, $paper-to);
        grid-row: 2/3;
        grid-column: 3/4;
    }
    &-rock {
        background: linear-gradient(to bottom, $rock-from, $rock-to);
        grid-row: 3/4;
        grid-column: 3/4;
        margin: 35px 0 0 -40px;
    }
    &-scissors {
        background: linear-gradient(to bottom, $scissors-from, $scissors-to);
        grid-column: 2/3;
    }
    &-lizard {
        background: linear-gradient(to bottom, $lizard-from, $lizard-to);
        grid-row: 3/4;
        grid-column: 1/2;
        margin: 35px 0 0 40px;
    }
    &-spock {
        background: linear-gradient(to bottom, $spock-from, $spock-to);
        grid-row: 2/3;
        grid-column: 1/2;
    }
    &-reset {
        border: 2px solid #fff;
        border-radius: 8px;
        background-color: #fff;
        color: $dark-text;
        font-size: 1rem;
        padding: 10px 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 0 auto;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
            color: $rock-from;
        }
    }
}
.result-layer {
    .btn-circle {
        transform: scale(1.5);
    }
}
