@media screen and (max-width: 992px) {
    .result {
        &-layer-3step {
            display: grid;
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        }
        &-1item {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
        &-2item {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }
        &-3item {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
    }
}
